<div ng-controller="LoggedInAdminCtrl">
  <a class="logout-admin" ng-click="logout()">Logout</a>

  <form name="admin" novalidate>
    <h1>Admin ({{ username }})</h1>

    <div class="dirty-nav" ng-show="admin.$dirty">
      <button class="save-admin" ng-click="save()" ng-hide="saving">Save</button>
      <span ng-show="saving">Saving...</span>
    </div>

    <div class="admin-container">
      <div ng-repeat="section in site.sections | elementVisible | elementOrder">
        <h3 class="section-header">{{ section.label }}</h3>

        <div ng-repeat="field in section.fields | elementVisible ">
          <div ng-include="fieldEditorPath(field.type)" class="field_editor editor_{{ field.type }}"></div>
        </div>
      </div>
    </div>
  </form>
</div>

